
<div class="columns">
    <div class="column"></div>
    <div class="column is-two-thirds is-vcentered">
        <br><br>
        <img src="https://raw.githubusercontent.com/elyse0/sophire/master/public/resources/404.png">
    </div>
    <div class="column"></div>
</div>

