<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                "Je pense que tout est possible à qui rêve, ose, travaille et n'abandonne jamais"
            </h1>
            <h2 class="subtitle">
                Xavier Dolan, Cannes 2014.
            </h2>
        </div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Suffire</strong> by <a href="https://github.com/kolverar">Kevin Olvera</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>
