<div class="container is-fluid">
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">
                    "Je pense que tout est possible à qui rêve, ose, travaille et n'abandonne jamais"
                </h1>
                <h2 class="subtitle">
                    Xavier Dolan, Cannes 2014.
                </h2>
            </div>
        </div>
    </section>
</div>

<div class="container is-fluid center"
     style="background-color: #ffeded;">

     <div class="image"
     style="display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%">
         <img src="https://raw.githubusercontent.com/elyse0/sophire/master/public/resources/paris.svg" alt="Paris">
    </div>
</div>
<p style="text-align:right;"><a href="http://www.freepik.com" style="text-decoration:none" >Image conçue par Freepik</a></p>


    <amish-footer>
        <section class="section" style="
        padding-top: 0px;
        padding-bottom: 20px;">
            <div class="container">
                <h1 class="subtitle has-text-centered"> &#128151 Alimenté par</h1>

                <div class="columns">
                    <div class="column is-one-fifth"></div>
                    <div class="column">
                        <div class="columns">
                            <div class="column">
                                <a href="https://www.heroku.com/" title="Heroku">
                                    <img src="https://raw.githubusercontent.com/elyse0/sophire/master/public/resources/powered/heroku.png" alt="Heroku" width="150" height="50">
                                </a>
                            </div>
                            <div class="column">
                                <a href="https://www.mongodb.com/" title="MongoDB">
                                    <img src="https://raw.githubusercontent.com/elyse0/sophire/master/public/resources/powered/mongodb.png" alt="MongoDB" width="150" height="50">
                                </a>
                            </div>
                            <div class="column">
                                <a href="https://www.larousse.fr" title="Larousse FR">
                                    <img src="https://raw.githubusercontent.com/elyse0/sophire/master/public/resources/powered/laroussefr.png" alt="Larousse FR" width="150" height="50">
                                </a>
                            </div>
                            <div class="column">
                                <a href="https://www.freepik.com/" title="Freepik">
                                    <img src="https://raw.githubusercontent.com/elyse0/sophire/master/public/resources/powered/freepik.png" alt="Freepik" width="150" height="50">
                                </a>
                            </div>
                            <div class="column">
                                <a href="https://www.vectorstock.com/" title="VectorStock">
                                    <img src="https://raw.githubusercontent.com/elyse0/sophire/master/public/resources/powered/vectorstock.png" alt="VectorStock" width="150" height="50">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="column is-one-fifth"></div>
                </div>
            </div>
        </section>
    </amish-footer>

<footer class="footer">

    <div class="columns">
        <div class="column">
            <h2 class="subtitle">Index</h2>
        </div>

        <div class="column">
            <h2 class="subtitle">Firefox add-on</h2>
            <p class="bd-footer-link-title">
                <a href="https://addons.mozilla.org/en-US/firefox/addon/suffire-learn-french/">
                    Verbes et vocabulaire française
                </a>
            </p>
        </div>

        <div class="column is-one-fifth">
            <h2 class="subtitle">À propos de ce projet</h2>
            <p class="bd-footer-link-title">
                <a href="https://github.com/elyse0/sophire">Github repository</a>
            </p>
        </div>
    </div>
</footer>
