<h1>{{title}}</h1>
<!--<p>Welcome to {{title}}</p>-->

<!--<form action="/verbs" method="post" enctype="multipart/form-data">-->
<!--    <input type="file" accept="image/*" name="photo" >-->
<!--    <input type="submit" value="upload">-->
<!--</form>-->
