<section class="hero">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                "Je pense que tout est possible à qui rêve, ose, travaille et n'abandonne jamais"
            </h1>
            <h2 class="subtitle">
                Xavier Dolan, Cannes 2014.
            </h2>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h1 class="subtitle has-text-centered">Powered by ❤</h1>

            <div class="columns">
                <div class="column is-one-fifth"></div>
                <div class="column">
                    <div class="columns">
                        <div class="column">
                            <a href="https://www.heroku.com/" title="Heroku">
                                <img src="https://raw.githubusercontent.com/kolverar/french_verbs/master/public/resources/powered/heroku.png" alt="Heroku" width="150" height="50">
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://www.mongodb.com/" title="MongoDB">
                                <img src="https://raw.githubusercontent.com/kolverar/french_verbs/master/public/resources/powered/mongodb.png" alt="MongoDB" width="150" height="50">
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://www.larousse.fr" title="Larousse FR">
                                <img src=https://raw.githubusercontent.com/kolverar/french_verbs/master/public/resources/powered/laroussefr.png" alt="Larousse FR" width="150" height="50">
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://www.freepik.com/" title="Freepik">
                                <img src="https://raw.githubusercontent.com/kolverar/french_verbs/master/public/resources/powered/freepik.png" alt="Freepik" width="150" height="50">
                            </a>
                        </div>
                        <div class="column">
                            <a href="https://www.vectorstock.com/" title="VectorStock">
                                <img src="https://raw.githubusercontent.com/kolverar/french_verbs/master/public/resources/powered/vectorstock.png" alt="VectorStock" width="150" height="50">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="column is-one-fifth"></div>
            </div>
    </div>
</section>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Suffire</strong> by <a href="https://github.com/kolverar">Kevin Olvera</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>
