<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="shortcut icon" type="image/png" href="https://raw.githubusercontent.com/kolverar/french_verbs/master/public/resources/suffire-icon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">

    <meta charset=“UTF-8”>
    <style>

        html,
        body {
            margin: 0;
            height: 100%;
        }
        .wrapper {
            box-sizing: border-box;
            position: relative;
            padding-bottom: 1em; /* Height of footer */
            min-height: 35%;
        }

        amish-footer {
            position: absolute;
            bottom: 0 ;
            width: 100%;
        }
    </style>

    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="https://raw.githubusercontent.com/kolverar/french_verbs/master/public/resources/suffire-logo.png" width="112" height="28">
            </a>
        </div>

        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="/verbs">
                    Verbs
                </a>

                <a class="navbar-item" href="/vocabulary">
                    Vocabulary
                </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        Random verb/vocabulary
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/verbs/random">
                            Random verb
                        </a>
                        <a class="navbar-item" href="/vocabulary/random">
                            Random vocabulary
                        </a>
                    </div>
                </div>

                <a class="navbar-item" href="/api">
                    REST API
                </a>
            </div>

            <div class="navbar-item  is-vcentered">
                <form action="/search" method="post">
                    <input class="input" type="text" id="search" name="search" size="40" placeholder="Search..." >
                </form>
            </div>

            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="" disabled>
                            <strong>Login</strong>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </nav>

</head>

<body>
    {{{body}}}
</body>
</html>
