
<style>
    .card {
        margin: auto;
        width: 37vw;
    }
    .center{
        margin: auto;
    }

    .is-primary{
        background-color: #731C47;
        border-color: #731C47;
    }
</style>

<div class="container is-fluid">
    <div class="notification">
        <div class="columns is-centered">
            <div class="column">
                <div class="card center">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{verb.imageURL}}" alt="Placeholder image">
                        </figure>
                    </div>
                </div>

                <p style="text-align: center">
                    <br>
                <a href="/random" class="button is-primary is-outlined is-rounded is-medium is-fullwidth">Random</a>
                </p>
            </div>
        </div>
    </div>
</div>
