
<style>
    .card {
        margin: auto;
        width: 37vw;
    }
    .center{
        margin: auto;
    }
</style>

<div class="container is-fluid">
    <div class="notification">

        <h1 class="title has-centered-text"><a href="/verbes?index={{index}}" style="text-decoration: none;">{{index}} /</a> {{verb.name}}</h1>

        <div class="columns is-centered">
            <div class="column">
                <div class="card center">
                    <div class="card-image">
                        <figure class="image">
                            <img src="{{verb.imageURL}}" alt="Placeholder image">
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
