
<style>
    .card {
        width: 25vw;
    }
</style>

<div class="container is-fluid">
    <div class="notification">
        <div class="task-container columns is-multiline">

            {{#each verbs}}
                <div class="column">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="{{imageURL}}" alt="Placeholder image">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="title is-4">{{name}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Suffire</strong> by <a href="https://github.com/kolverar">Kevin Olvera</a>. The source code is licensed
            <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
            is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
        </p>
    </div>
</footer>
